<h1><i class="icon-cog-alt"></i>Projects
	<small>overview</small>
</h1>
<span style="float: right; margin-top: 8px;">
	<iframe src="http://ghbtns.com/github-btn.html?user=lorislab&repo=armonitor&count=true&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe>
</span>
<ol class="breadcrumb">
	<li class="active">
		<i class="icon-cog-alt"></i> 
			Projects
	</li>
</ol>

<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-success">			
			<div class="panel-heading link-inherit" style="text-align: center; min-height: 150px;"><a href="#/armonitor"><h1><b>Release monitor</b></h1></a>
				Overview of the deployed version on the systems. Easy <a href="http://maven.apache.org">Maven</a> integration. Notification about the changes.
				The bug tracking system (BTS) and software configuration management (SCM) integration.
			</div>
			<a href="#/armonitor">
				<div class="panel-footer" style="text-align: right;"><i class="icon-right-circled"></i></div>
			</a>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="panel panel-success">
			<div class="panel-heading link-inherit" style="text-align: center; min-height: 150px;"><a href="#/smonitor"><h1><b>Session monitor</b></h1></a>
				Search for the HTTP-Sessions through all your applications and servers. It does not matter on which node or server the application is running.
			</div>			
			<a href="#/smonitor">
				<div class="panel-footer" style="text-align: right;"><i class="icon-right-circled"></i></div>
			</a>
		</div>
	</div>	
</div>
